<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      제어판넬
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>블루투스</ion-label>
    <ion-toggle [(ngModel)]="globalService.wifi.selectMqtt" (ionChange)="toggleMqttSelect()"></ion-toggle>
    <ion-label>와이파이 MQTT</ion-label>
  </ion-item>

  <ion-grid>
    <ion-row *ngFor="let row of [0, 1]">
      <ion-col size="6" *ngFor="let col of [0, 1]">
        <!-- 번호를 표시하는 부분 -->
        <ion-item>
          <ion-label class="ion-text-center">{{ row * 2 + col }}</ion-label>
        </ion-item>
        <!-- 토글 스위치를 표시하는 부분 -->
        <ion-item>
          <ion-toggle (ionChange)="sendDataToTab2(row * 2 + col, $event.detail.checked)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="led-container">
    <ng-container *ngFor="let led of leds; let i = index">
      <div class="led" [ngStyle]="{'background-color': led ? '#90ee90' : '#d3d3d3'}">
        {{ i }}
      </div>
    </ng-container>
  </div>

  <div>
    <p>Humidity: {{ globalService.dev.humidity }}%</p>
    <p>Temperature: {{ globalService.dev.temperature }}°C</p>
  </div>

  <!-- 수신된 메시지 표시 -->
  <div>
    <p>수신된 메시지: {{ receivedMessage }}</p>
  </div>

</ion-content>
